
.swiper {
    width: 100%;
    height: 100%;
  }
  
   .swiper-slide {
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Change the color of navigation buttons */
.swiper-button-next, .swiper-button-prev {
  color: #B8B8B8; /* Your custom color */
}

/* Add hover effects if needed */
.swiper-button-next:hover, .swiper-button-prev:hover {
  color: #4F4F4F;
}
.swiper-pagination-bullet {
  background-color: #3498db; /* Your custom color */
  opacity: 0; /* Set to 1 if you want solid color */
}