.numberFont{

    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width: 360px) {
    .numberFont {
      font-size: 12px;
      line-height: 12px;
    }
  }

  .currentContainer{
    background-image: url();
  }
